<h2> This is the 'about' page </h2>
<p>
------------ We are working on Rails 7 --------------
Please read the documentation carefully
</p>


<%= link_to 'Home', root_path %> | 
<%= link_to 'Articles listing', articles_path %>